<h3>Edit a skill note that you need to be logged in to do this and this should reflect in the path chengdu_ruby_python!</h3>
<form action="#" method = "post">
	<label for="title">Title</label><br>
	<input type="text" name="name" value="{{fs_item['name']}}"><br>
	<label for="description">Description</label><br>
	<input type="text" name="name" value="{{fs_item['description']}}"><br>
	<label for="category">Category</label><br>
	<input type="text" name="name" value="{{fs_item['category']}}"><br>
	<input type="submit" value="Submit">
</form>