{% extends "catalog.html" %}
{%block content%}
<h3>New Skill Item</h3>

<form action="{{url_for('new_fullstack_catalog_item')}}" method = "post">
	<label for="title">Title</label><br>
	<input type="text" name="title"><br>
	<label for="description">Description</label><br>
	<textarea type="text" name="description">Some text...</textarea><br>
	<label for="category">Category</label><br>
	<select name="category">
		{%for cat in options%}
			<option value="{{cat[0]}}">{{cat[1]}}</option>
		{%endfor%}
	</select><br>
	<input type="submit" value="Submit">
</form>
{%endblock%}

